<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Service</title>
        <meta name="description" content="Test 2GIS Map API" />
        <link rel="stylesheet" href="">
        <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    </head>
    <body>
        <script src="/bootstrap/js/bootstrap.js"></script>
        <script src="/static/header/render_header.js"></script>
        <div class="container col-md-6 mt-2">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-10">
                            Изменение данных точки
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form class="row g-3">
                        <label class="form-label mt-sm-5 mt-3">
                            <h4>Форма заполнена</h4>
                        </label>
                        <div class="col-sm-6 col-12">
                            <label for="lat" class="form-label">Широта</label>
                            <input name="lat" type="text" class="form-control" id="lat" value="{{.Lat}}" placeholder="Введите широту (разделитель - точка)" required disabled>
                        </div>
                        <div class="col-sm-6 col-12">
                            <label for="long" class="form-label">Долгота</label>
                            <input name="long" type="text" class="form-control" id="long" value="{{.Long}}" placeholder="Введите долготу (разделитель - точка)" required disabled>
                        </div>
                        <div class="col-sm-6 col-12">
                            <label for="address" class="form-label">Адрес</label>
                            <input name="address" type="text" class="form-control" id="address" value="{{.PointAddress}}" placeholder="Введите адрес" required disabled>
                        </div>
                        <div class="col-sm-6 col-12">
                            <label for="district" class="form-label">Округ</label>
                            <input name="district" type="text" class="form-control" id="district" value="{{.District}}" placeholder="Введите наименование округа" required disabled>
                        </div>
                        <div class="col-sm-6 col-12">
                            <label for="number-arc" class="form-label">Количество дуг</label>
                            <input name="number-arc" type="text" class="form-control" id="number-arc" value="{{.NumberArc}}" placeholder="Введите количество дуг" required disabled>
                        </div>
                        <div class="col-sm-6 col-12">
                            <label for="arc-type" class="form-label">Тип дуги</label>
                            <input name="arc-type" type="text" class="form-control" id="arc-type" value="{{.ArcType}}" placeholder="Введите тип дуги" required disabled>
                        </div>
                        <div class="col-sm-6 col-12">
                            <label for="carpet" class="form-label">Тип покрытия</label>
                            <input name="carpet" type="text" class="form-control" id="carpet" value="{{.Carpet}}" placeholder="Введите тип покрытия" required disabled>
                        </div>
                        <div class="col-12">
                            <label for="comment" class="form-label">Комментарий</label>
                            <textarea name="comment" class="form-control" id="comment" rows="3" required disabled>{{.Comment}}</textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>