<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Service</title>
        <meta name="description" content="Test 2GIS Map API" />
        <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="" rel="stylesheet">
    </head>
    <body>
        <script src="../static/header/render_header.js"></script>
        <div class="container col-md-6 mt-2">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-10">
                            Редактировать аккаунт id: {{.ID}}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form class="row g-3">
                        <label class="form-label"><h4>Данные аккаунта</h3></label>
                        <div class="col-md-6">
                            <label for="inputEmail" class="form-label">Логин</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Прошлый логин: {{.Login}}">
                        </div>
                        <div class="col-md-6">
                            <label for="inputPassword" class="form-label">Пароль</label>
                            <input type="password" class="form-control" id="inputPassword">
                        </div>
                        <div class="col-6">
                            <label for="inputRole" class="form-label">Роль</label>
                            <select id="inputRole" class="form-select">
                                <option selected>{{.Role}}</option>
                                <option value="1">worker</option>
                                <option value="2">admin</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="inputActive" class="form-label">Активировать</label>
                            <select id="inputActive" class="form-select">
                                <option selected>Да</option>
                                <option value="1">Нет</option>
                            </select>
                        </div>
                        <label class="form-label mt-5"><h4>Личные данные</h3></label>
                        <div class="col-md-6">
                            <label for="inputName" class="form-label">Имя</label>
                            <input type="text" class="form-control" id="inputName" placeholder="{{.Name}}">
                        </div>
                        <div class="col-md-6">
                            <label for="inputSurname" class="form-label">Фамилия</label>
                            <input type="text" class="form-control" id="inputSurname" placeholder="{{.Surname}}">
                        </div>
                        <div class="col-md-6">
                            <label for="inputPatronymic" class="form-label">Отчество</label>
                            <input type="text" class="form-control" id="inputPatronymic" placeholder="{{.Patronymic}}">
                        </div>
                        <div class="col-md-6">
                            <label for="inputTgID" class="form-label">Telegram ID</label>
                            <input type="text" class="form-control" id="inputTgID" placeholder="{{.TgID}}">
                        </div>
                        <div class="col-12 mt-3">
                          <button type="submit" class="btn btn-primary float-end mx-3">Изменить</button>
                          <a href="/employees" class="btn btn-light float-end">Отмена</a>
                      </form>
                </div>
            </div>
        </div>
    </body>
</html>