<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Service</title>
        <meta name="description" content="Test 2GIS Map API" />
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="" rel="stylesheet">
    </head>
    <body>
        <script src="bootstrap/js/bootstrap.js"></script>
        <script src="static/header/render_header.js"></script>
        <div class="container col-md-6 mt-2">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-10">
                            Редактировать мой аккаунт
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form class="row g-3" method="post" action="/profile">
                        <label class="form-label"><h4>Данные аккаунта</h3></label>
                        <div class="col-md-6">
                            <label for="inputEmail" class="form-label">Логин</label>
                            <input type="email" class="form-control" id="inputEmail" value="{{.Login}}" disabled>
                        </div>
                        <div class="col-md-6">
                            <label for="inputPassword" class="form-label">Пароль</label>
                            <input name="inputPassword" type="password" class="form-control" id="inputPassword" placeholder="Если оставить пустым, пароль останется прежним">
                        </div>
                        <div class="col-6">
                            <label for="inputRole" class="form-label">Роль</label>
                            <input type="text" class="form-control" id="inputRole" value="{{.Role}}" disabled>
                        </div>
                        <div class="col-6">
                            <label for="inputActive" class="form-label">Статус</label>
                            <input type="text" class="form-control" id="inputActive" value="{{.Active}}" disabled>
                        </div>
                        <label class="form-label mt-5"><h4>Личные данные</h3></label>
                        <div class="col-md-6">
                            <label for="inputName" class="form-label">Имя</label>
                            <input name="inputName" type="text" class="form-control" id="inputName" value="{{.Name}}" placeholder="Введите имя">
                        </div>
                        <div class="col-md-6">
                            <label for="inputSurname" class="form-label">Фамилия</label>
                            <input name="inputSurname" type="text" class="form-control" id="inputSurname" value="{{.Surname}}" placeholder="Введите фамилию">
                        </div>
                        <div class="col-md-6">
                            <label for="inputPatronymic" class="form-label">Отчество</label>
                            <input name="inputPatronymic" type="text" class="form-control" id="inputPatronymic" value="{{.Patronymic}}" placeholder="Введите отчество">
                        </div>
                        <div class="col-md-6">
                            <label for="inputTgID" class="form-label">Telegram ID</label>
                            <input name = "inputTgID" type="text" class="form-control" id="inputTgID" value="{{.TgID}}" placeholder="Введите телеграм ID">
                        </div>
                        <div class="col-12 mt-3">
                          <button type="submit" class="btn btn-primary float-end mx-3">Изменить</button>
                          <a href="/main" class="btn btn-light float-end">Отмена</a>
                        </div>
                      </form>
                </div>
            </div>
        </div>
    </body>
</html>