<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Service</title>
        <meta name="description" content="Test 2GIS Map API" />
        <link rel="stylesheet" href="static/main_style.css">
        <link href="static/bootstrap/css/bootstrap.css" rel="stylesheet">
    </head>
    <body>
        <script src="static/bootstrap/js/bootstrap.js"></script>
        <header id="header" class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mx-4">
            <div class="col-md-3 mb-2 mb-md-0">
                <button id="button1">canvas</button>
            </div>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a href="/main" class="nav-link active">Главная</a>
                </li>
                <li>
                    <a href="/main" class="nav-link">Задачи</a>
                </li>
                <li>
                    sadsa
                </li>
            </ul>
            <div class="col-md-3 text-end">
                <a href="/profile" class="link-underline link-underline-opacity-0 mx-3">dsa</a>
                <a href="/logout" class="btn btn-primary">Выход</a>
            </div>
        </header>
        <div id="map-conteiner" class="flex-container">
            <div class="flex-item" id="container"></div>
            <div class="flex-item" id="flex1">
                <div class="flex-container2" id="flex2">
                    <button type="button" id="close">X</button>
                </div>
            </div>
        </div>
        <script src="static/map.js"></script>
        <script src="static/clus.js"></script>
        <script>
            const map = new mapgl.Map('container', {
                center: [37.6156, 55.7522],
                zoom: 10,
                key: '{{ .GisApiKey}}',
                style: 'c080bb6a-8134-4993-93a1-5b4d8c36a59b'
            });

            markers = [
                {{range .Points}}
                {
                    coordinates: [{{ .Long}}, {{ .Lat}}],
                    ID: {{ .ID}}
                },
                {{end}}
            ]
        </script>
        <canvas id="draw-canvas" style="position: absolute; left: 0; top: 0; display: none;"></canvas>
        <script src="static/main_logic.js"></script>
        <script src="static/canvas.js"></script>
    </body>
</html>