<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Phone</title>
        <meta name="description" content="Test phone 2GIS Map API" />
        <link rel="stylesheet" href="main_style.css">
    </head>
    <body>
        <header id="header">
            <h1 align="center">Test</h1>
        </header>
        <div class="flex-container">
            <div class="flex-item" id="container"></div>
            <div class="flex-item" id="flex1">
                <div class="flex-container2" id="flex2">
                    <button type="button" id="close">X</button>
                </div>
            </div>
        </div>
        <script src="map.js"></script>
        <script src="clus.js"></script>
        <script>
            const map = new mapgl.Map('container', {
                center: [37.6156, 55.7522],
                zoom: 10,
                key: '{{ .GisApiKey}}',
                style: 'c080bb6a-8134-4993-93a1-5b4d8c36a59b'
            });

            markers = [
                {{range .Points}}
                {
                    coordinates: [{{ .Long}}, {{ .Lat}}],
                    ID: {{ .ID}}
                },
                {{end}}
            ]
        </script>
        <script src="phone_logic.js"></script>
    </body>
</html>