<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Service</title>
        <meta name="description" content="Test 2GIS Map API" />
        <link rel="stylesheet" href="">
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    </head>
    <body>
        <script src="bootstrap/js/bootstrap.js"></script>
        <script src="static/header/render_header.js"></script>
        <div class="container-fluid mt-1">
            <div class="row">
                <div id="map" class="col-12 p-0" style="overflow: hidden;"></div>
                <script src="static/main/set_map_size.js"></script>
            </div>
        </div>
        <script src="static/gis/map.js"></script>
        <script src="static/gis/clus.js"></script>
        <script>
            gisKey = "{{ .GisApiKey}}"
            markers = [
                {{range .Points}}
                {
                    coordinates: [{{ .Long}}, {{ .Lat}}],
                    ID: {{ .ID}}
                },
                {{end}}
            ]
        </script>
        <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Выбранные точки:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div id="right_side_offcanvas_body" class="offcanvas-body">
            </div>
        </div>
        <script src="static/main/main.js"></script>
    </body>
</html>