<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Service</title>
        <meta name="description" content="Test 2GIS Map API" />
        <link rel="stylesheet" href="">
        <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    </head>
    <body>
        <script src="/bootstrap/js/bootstrap.js"></script>
        <script src="/static/header/render_header.js"></script>
        <div class="container col-md-6 mt-2">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-10">
                            Изменение данных точки
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form class="row g-3" method="post" enctype="multipart/form-data" action="/deactivate/{{.}}/new">
                        <label class="form-label mt-sm-5 mt-3">
                            <h4>Заполните форму измениния статуса точки</h4>
                            <small>Измените только при необходимости изменить статус активности точки</small>
                        </label>
                        <div class="col-sm-6 col-12">
                            <label for="status" class="form-label">Статус точки</label>
                            <select name="status" id="status" class="form-select" required>
                                <option value="t" selected>Активирована</option>
                                <option value="f">Деактивирована</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <label for="comment" class="form-label">Комментарий</label>
                            <textarea name="comment" class="form-control" id="comment" rows="3" required></textarea>
                        </div>
                        <div class="col-12 mt-3">
                            <button type="submit" class="btn btn-primary float-end mx-sm-3 mx-0">Сохранить</button>
                            <a href="/tasks" class="btn btn-light float-end mx-sm-0 mx-2">Отмена</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>