<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Service</title>
        <meta name="description" content="Test 2GIS Map API" />
        <link rel="stylesheet" href="">
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    </head>
    <body>
        <script src="bootstrap/js/bootstrap.js"></script>
        <script src="static/header/render_header.js"></script>
        <div class="container col-md-6 mt-2">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-10">
                            ID задачи: 20048
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Адрес: Остановка НГПТ "МЦД Левобережная"</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Назначено сотрудникам:</li>
                        <li class="list-group-item">Дата последнего отчета:</li>
                        <li class="list-group-item mx-3">Информация о точке</li>
                        <li class="list-group-item">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row">Широта</th>
                                        <td>55</td>
                                        <th scope="row">Долгота</th>
                                        <td>37</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Округ</th>
                                        <td>ЮЗАО</td>
                                        <th scope="row">Количество дуг</td>
                                        <td>3</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Тип дуги</th>
                                        <td>Металическая</td>
                                        <th scope="row">Покрытие</th>
                                        <td>Плитка</td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                    </ul>
                    <div class="col-12">
                        <a href="/send_report" class="btn btn-success float-end">Отправить</a>
                        <a href="" class="btn btn-secondary float-end mx-1">Инспекция</a>
                        <a href="" class="btn btn-primary float-end">Обслуживание</a>
                        <a href="" class="btn btn-warning float-end mx-1">Изменить данные точки</a>
                        <a href="" class="btn btn-info float-end">Очистить отчет</a>
                        <a href="" class="btn btn-danger float-start">Удалить точку</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>